@font-face {
    font-family: 'Aeonik';
    src: url(../media/fonts/Aeonik/Aeonik-Regular.otf);
}

* {
    font-family: Aeonik;
}

html,
body {
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

header {
    position: absolute;
    top: 24px;
    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: fit-content;
    width: fit-content;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

main > #strInput,
main > #strInput:focus {
    height: 5vh;
    padding: 2vh;
    width: 90%;
    font-size: 8vh;
    border: none;
    outline: none;
    color: black;
    background-color: transparent;
    text-align: center;
}

::placeholder { 
    color: #c0c0c0;
}

main > #colorHexStr {
    margin-top: 80px;
    font-size: 20px;
    color: black;
}



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-bottom: 1vh;

    z-index: 99;
}

footer > #developerCollabTagline {
    color: rgb(95, 95, 95);
    font-weight: bold;
}

footer > #developerCollabText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 9%;
    height: 100%;
}

footer > #developerCollabText > .developerName {
    font-weight: bolder;
    font-style: normal;
}

footer > #appVersionText {
    font-weight: light;
    font-style: italic;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



@media only screen and (max-width: 800px) {
    main > #colorHexStr {
        margin-top: 40px;
        font-size: 16px;
    }
    
    main > #strInput,
    main > #strInput:focus {
        height: 10vh;
        padding: 0;
        width: 90%;
        font-size: 32px;
    }
}